        #Introduction To Lists
                Lists are ordered, mutable collections of items.
                They can contain items of different data types.

        #Video Outline:
                Introduction to Lists
                Creating Lists
                Accessing List Elements
                Modifying List Elements
                List Methods
                Slicing Lists
                Iterating Over Lists
                List Comprehensions
                Nested Lists
                Practical Examples and Common Errors

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [6]:
lst = [1,2,3]
print(lst[0])

1

In [7]:
#mix list
mix_list = ["Ranvijay","Singh",12,25,5,True]   
print(mix_list)

['Ranvijay', 'Singh', 12, 25, 5, True]

In [9]:
### Accessing List Elements

fruits =["Apple","Mango","Orange","Banana"]

In [16]:
print(fruits[0])
print(fruits[3])
print(fruits[-1])

Apple
Banana
Banana

In [20]:
print(fruits[1:])
print(fruits[1:3])

['Mango', 'Orange', 'Banana']
['Mango', 'Orange']

In [21]:
fruits[1]="Waterminal"
print(fruits)

['Apple', 'Waterminal', 'Orange', 'Banana']

In [24]:
fruits[1:]="waterminal"

In [25]:
print(fruits)

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'i', 'n', 'a', 'l']

In [38]:
## Append the Element at end of  list
fruits =["Apple","Mango","Orange","Banana"]
fruits.append("Kiwi")  # Add the element at the end in list
fruits.insert(1,'Papaya')  # Insert the element at the spacific posions in list
print(fruits)
fruits.remove('Papaya')  # resmove the element first occurance in the  list
prop_fruits = fruits.pop() # Remove the  element at the END from LIST and retun 
print(prop_fruits)
print(fruits)

['Apple', 'Papaya', 'Mango', 'Orange', 'Banana', 'Kiwi']
Kiwi
['Apple', 'Mango', 'Orange', 'Banana']

In [40]:
lst=[]
for x in range(10):
    lst.append(x**9)

print(lst)

[0, 1, 512, 19683, 262144, 1953125, 10077696, 40353607, 134217728, 387420489]

In [43]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)
fruits.clear()
print(fruits)

['Apple', 'Banana', 'Mango', 'Orange']
['Orange', 'Mango', 'Banana', 'Apple']
[]

In [2]:
# Slicing List
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::1]) ## All the lement jump step 1
print(numbers[::2]) ## All the lement jump step 2
print(numbers[::3]) ## All the lement jump step 3
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
# WHat is the Double common means
print(numbers[::])
print(numbers[::2])
print(numbers[::-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [52]:
#iteration 
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [3]:
for index,number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [57]:
## List comprehension
list=[]
for x in range(10):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
[x**2 for x in range(11)] #jsut in one line

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List Comprehension

        Basics Syantax [expression for item in iterable]

        with conditional logic [expression for item in iterable if condition]

        Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [65]:
# Print the Event number with the Help of comprehension
even_number = [x for x in range(10) if x%2==0]
print(even_number)

[0, 2, 4, 6, 8]

In [67]:
## PAiring the LIst
list1=[1,2,3,4]
list2=['a','b','c','d']

paire=[[i,j] for i in list1 for j in list2]
print(paire)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [68]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]