In [6]:
#List Practice
lst =[1,2,3,4,5,6]
print(type(lst))
print(lst.insert(2,8))
print(lst)

<class 'list'>
None
[1, 2, 8, 3, 4, 5, 6]

In [10]:
lstdata =[]
for i in range(20):
    lstdata.append(i*2)
print(lstdata)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [19]:
print(lst)
print(lst[::])
print(lst[2::2])

[1, 2, 8, 3, 4, 5, 6]
[1, 2, 8, 3, 4, 5, 6]
[8, 4, 6]

In [23]:
for index, number in enumerate(lst):
    print(number,index)

1 0
2 1
8 2
3 3
4 4
5 5
6 6

In [26]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:


first,*middle,last=lst
print(first,middle,last)

1 [2, 8, 3, 4, 5] 6

In [2]:
import pandas as pd
import numpy as np

In [5]:
disct1={
    'name':['Ranvijay','Aditya','Akhil'],
    'Age':[25,35,25],
    'city':['Pune','Mumbai','Kolkata']
}

In [12]:
df= pd.DataFrame(disct1)

In [17]:
df.head(2)

       name  Age    city
0  Ranvijay   25    Pune
1    Aditya   35  Mumbai

In [18]:
df.tail(2)

     name  Age     city
1  Aditya   35   Mumbai
2   Akhil   25  Kolkata

In [19]:
df.describe()

             Age
count   3.000000
mean   28.333333
std     5.773503
min    25.000000
25%    25.000000
50%    25.000000
75%    30.000000
max    35.000000